

<p>Click the button to get your coordinates.</p>

<button class="btn btn-primary" onclick="getLocation()">CLICK TO SAVE YOUR CO-ORDINATES</button>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  x.innerHTML = "N" + position.coords.latitude + 
  "<br>E" + position.coords.longitude;
}
</script>

