<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><strong>CrossPathAlert</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/about">About <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/sarathsajan/cross-path-alert">GitHub Repo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/sarathsajan/cross-path-alert">Report Issues</a>
            </li>
            <li class="nav-item">
                <a class="dropdown-item" href="https://github.com/sarathsajan/cross-path-alert/issues">Report issues</a>
            </li>
        </ul>
    </div>
</nav>
