<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><strong>AMISAFE</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/about">About <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/sarathsajan/cross-path-alert">GitHub Repo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/sarathsajan/cross-path-alert/issues">Report Issues</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            {% if session.logged_in == True %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('usersdashboard') }}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log Out</a>
                </li>
            {% elif session.admin_logged_in == True %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('patientsdashboard') }}">Admin Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log Out</a>
                </li>
            {% else %}
            <li class="nav-item">
                    <a class="nav-link" href="/adminlogin">Admin Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
