{% extends 'layout.html' %}
{% block body %}
	<br>
	<div class="jumbotron text-center">
		<h1>AMISAFE Alert System</h1>
		<a style="text-decoration: none;" href="https://github.com/sarathsajan/cross-path-alert"><p style="color: red;">[currently under development]</p></a>
	</div>
	<br>
	<br>
	<div class="text-center">
		<h5>Developed by</h5>
		<a style="text-decoration: none;" href='https://github.com/sarathsajan'><p>Sarath Sajan</p></a>
		<a style="text-decoration: none;" href='https://github.com/bestin-07'><p>Bestin Antu</p></a>
		<p>Vaisakh Sunil Kumar</p>
		<p>Aarya</p>
	</div>
{% endblock %}