{% extends 'layout.html' %}
{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<br>
<h3><strong>Admin Log In</strong></h3>
<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-body">
                    <form id="loginform" method="POST" action="" class="form-horizontal" role="form">

                        <div class="form-group">
                            {{ render_field(form.email, class_="form-control") }}
                        </div>

                        <div class="form-group">
                            {{ render_field(form.password, class_="form-control") }}
                        </div>

                        <p><input type="submit" class="btn btn-primary" value="Log in"></p>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>    
{% endblock %}