<style>
    #hero
    {
        height: 100%;
        background: url("{{ url_for('static', filename='corona_large.png') }}") center center;
        background-size: cover;
        position: relative;
        padding: 0;
    }

    #hero:before
    {
        content: "";
        background: rgba(56, 64, 70, 0.7);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    #hero .container
    {
        z-index: 2;
    }

    #hero h1
    {
        margin: 0 0 10px 0;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        color: #fff;
    }

    #hero h1 span
    {
        border-bottom: 4px solid #3498db;
    }

    #hero h2
    {
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 30px;
        font-size: 24px;
    }

    #hero .btn-get-started
    {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 2px;
        display: inline-block;
        padding: 12px 28px;
        border-radius: 4px;
        transition: ease-in-out 0.3s;
        color: #fff;
        background: #3498db;
        text-transform: uppercase;
    }

    #hero .btn-get-started:hover
    {
        background: #4ea5e0;
    }

    @media (max-width: 992px)
    {
        #hero
        {
            height: calc(100vh - 70px);
        }
    }

    @media (max-width: 768px)
    {
        #hero h1
        {
            font-size: 30px;
            line-height: 36px;
        }

        #hero h2
        {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 30px;
        }
    }
</style>

{% extends 'layout.html' %}
{% block body %}
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="container text-center text-md-left" data-aos="fade-up">
            <h1>Welcome to <span>AMISAFE</span></h1>
            <h2>Using this website, you can check weather you have crossed paths with a COVID-19 patient</h2>
            <a href="/login"><button class="btn btn-get-started">Get Started</button></a>
            <br>
            <br>
            <a href="/quickCheck"><button class="btn btn-outline-warning">Quick Check</button></a>
        </div>
    </section>
    <br>
    <div class="container">
        <button class="btn btn-success">Number of Registered Users : {{ reg_users }}</button>
    </div>
    <br>
    <div class="container jumbotron text-left">
        <h1>How It Works</h1>
        <br>
        <button class="btn btn-outline-success"> STEP 1 </button><p>Sign up and Login to your AMISAFE account.</p>
        <br>
        <button class="btn btn-outline-success"> STEP 2 </button><p>Once you are inside the user's dashboard, enter your travel history from your memory. The data that we collect are the 'time-of-visit', 'date-of-visit', 'place-of-visit'. The more accurate the data you give the better results can be output. We respect your privacy, so we only use the data given by you. We store this data for only 30 days, after which it is removed.[feature pending]</p>
        <br>
        <button class="btn btn-outline-success"> STEP 3 </button><p>We have a separate database containing the travel history of COVID-19 positive-tested patients, available through public sources like newspaper, television, social media posts(of authorities). We collect these data manually and enter into our database. The data is as accurte as provided by these <a href="{{url_for('sources')}}"> sources</a>.</p>
        <br>
        <button class="btn btn-outline-success"> STEP 4 </button><p>Using the your travel history data provided by you, we cross check it with our patient's travel history database. And based on the date, time and location we determine a risk-value for each of your 'place-of-visit', which can be seen in the user's dashboard.</p>
        <br>
        <button class="btn btn-outline-success"> STEP 5 </button><p>The risk-value is color coded for easy comprehension.</p>
        <div class="container text-left">
            <strong><em><p style="color: #28a745;">Green is SAFE</p></em></strong>
            <strong><em><p style="color: #ffc107;">Amber is MODERATE RISK</p></em></strong>
            <strong><em><p style="color: #ff8c00;">Orange is HIGH RISK</p></em></strong>
            <strong><em><p style="color: #dc3545;">Red is VERY HIGH RISK</p></em></strong>
        </div>
        <br>
        <button class="btn btn-outline-success"> STEP 6 </button><p>Based on your over-all risk value a summary instruction message to follow will be provided on your dashboard.</p>
        <br>
        <button class="btn btn-outline-success"> STEP 7 </button><p>We request you stay indoors for both yours and everybody's continued safety. Follow social-distancing and self-isolation to flatten the curve. But if you went outside for some reason and wants to know whether you could have crossed paths with a possible COVID-19 patient then all you have to do is login to your account and input your data [back to STEP 1]</p>
    </div>
    <div class="jumbotron text-center">
        <button class="btn btn-warning">Warning</button> The predictions made are as accurate as the date provided in the <a href="{{url_for('sources')}}">sources</a>. So we advise you not to trust the site blindly.
    </div>
{% endblock %}