{% extends 'layout.html' %}
{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<br>
<h3><strong>Change Paasword</strong></h3>
<div class="container" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-body" >
            <form method="POST" action="" id="signupform" class="form-horizontal" role="form">

                <div class="form-group">
                    {{ render_field(form.new_password, class_="form-control") }}
                </div>

                <div class="form-group">
                    {{ render_field(form.confirm, class_="form-control") }}
                </div>

                <p><input type="submit" class="btn btn-primary" value="Submit"></p>
                
            </form>
        </div>
    </div>                   
</div>
{% endblock %}